*.pt filter=lfs diff=lfs merge=lfs -text
infer filter=lfs diff=lfs merge=lfs -text
models filter=lfs diff=lfs merge=lfs -text
models/*.pt filter=lfs diff=lfs merge=lfs -text
test_outputs/* filter=lfs diff=lfs merge=lfs -text
